#header, .header-left, .header-right {
  display: flex;
  align-items: center;
}

.header-left, .header-right {
  justify-content: space-around;
}

#header {
  position: absolute;
  top: 0;

  height: 40px;
  width: 100vw;

  background: #333333;

  justify-content: space-between;

  .header-left {
    a {
      &.header_link_logo {
        position: relative;
        top: 2px;
      }
    }
  }

  nav a, .header-export span , .header-user span {
    padding: 10px 13px 10px 12px;
    text-transform: uppercase;

    color: #EFEFEF;
    font-size: 11px;
    font-weight: 500;
  }

  .header-export, .header-user {
    span {
      cursor: pointer;
    }
  }
}
