@import "access.scss";
@import "labels.scss";

#home {
  .sub-header {
    height: 45px;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin: 25px 30px;
    margin-top: 50px;

    h2 {
      font-size: 21px;
      font-weight: 400;
      line-height: 29px;
    }
  }

  .home-content {
    .home-content-cards {
      display: flex;
      justify-content: center;
      align-items: center;

      .home-card {
        cursor: pointer;

        width: 300px;
        height: 400px;

        margin: 15px;
        padding: 30px 10px;

        background: #ffffff;

        text-align: center;
        word-break: break-word;

        border-radius: 2.5px !important;
        box-shadow: 0 4px 12px rgb(0 0 0 / 7%);

        .home-card-image {
          width: 100%;
          height: 75%;

          background-size: cover;
          background-position: center;

          &.card-horizons {
            background-image: url("../assets/horizons.png");
          }

          &.card-maintenance {
            background-image: url("../assets/maintenance.png");
          }
        }

        h3 {
          color: #202020;

          font-size: 21px;
          font-weight: 400;
          font-family: Noto Sans, sans-serif;
          line-height: 29px;

          padding-bottom: 10px;
        }

        .home-card-icon {
          border: 1px solid #808080;
          color: #808080;
          border-radius: 50%;
        }
      }
    }
  }
}
