#horizon {
  .sub-header {
    height: 45px;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin: 25px 30px;
    margin-top: 50px;

    h2 {
      font-size: 21px;
      line-height: 29px;
      font-weight: 400;
    }
  }

  .sub-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

    margin: 25px 30px;

    background: #ffffff;
    padding-top: 25px;
    padding-left: 25px;

    border-radius: 2.5px;
    box-shadow: 0 4px 12px rgb(0 0 0 / 7%);

    .ivu-form-item-label {
      color: #afafaf;
      font-size: 11px;
      font-weight: 600;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      background: #ffffff;
    }

    .sub-menu-engineer {
      max-width: 200px;
    }

    .sub-menu-engineer,
    .sub-menu-date-picker {
      max-width: 300px;
    }

    .sub-menu-repository {
      max-width: 450px;
    }

    .sub-menu-search {
      background: #0588bf;
      color: #ffffff;
      max-width: 200px;

      font-style: normal;
      font-weight: 300;
      font-size: 13px;
      line-height: 18px;
      font-weight: 600;
      line-height: 15px;
      padding-left: 15px;
      padding-right: 15px;
      background-image: linear-gradient(180deg, #0c9fcc 50.52%, #0b8eba);
      border-radius: 4px;
      transition: box-shadow 0.16s ease-in-out;
      border: none;
      z-index: 1;
      position: relative;
    }
  }

  #horizon-table {
    margin: 15px 30px;

    table {
      border-radius: 55px;
    }

    tr {
      th {
        height: 50px;

        color: #afafaf;
        font-size: 11px;
        font-weight: 600;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        background: #ffffff;
        border-bottom: 2px solid #dfdfdf;
      }

      td {
        color: #202020;
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;

        height: 40px;

        a {
          color: #202020;
        }
      }
    }
  }
}
