#horizon {
  .sub-header {
    height: 45px;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin: 25px 30px;
    margin-top: 50px;

    h2 {
      font-size: 21px;
      font-weight: 400;
      line-height: 29px;
    }
  }

  .sub-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin: 25px 30px;

    padding-top: 25px;
    padding-left: 25px;

    background: #ffffff;

    border-radius: 2.5px;
    box-shadow: 0 4px 12px rgb(0 0 0 / 7%);

    .ivu-form-item-label {
      color: #afafaf;
      background: #ffffff;

      font-size: 11px;
      font-weight: 600;
      letter-spacing: 0.03em;
      text-transform: uppercase;
    }

    .sub-menu-engineer {
      max-width: 300px;
      min-width: 250px;
    }

    .sub-menu-engineer,
    .sub-menu-date-picker {
      max-width: 350px;
      min-width: 200px;
    }

    .sub-menu-repository {
      max-width: 450px;
      min-width: 200px;
    }

    .sub-menu-search {
      position: relative;

      z-index: 1;
      max-width: 200px;

      background: #0588bf;
      color: #ffffff;

      font-style: normal;
      font-size: 13px;
      font-weight: 600;
      line-height: 15px;

      padding-left: 15px;
      padding-right: 15px;

      background-image: linear-gradient(180deg, #0c9fcc 50.52%, #0b8eba);
      border: none;
      border-radius: 4px;

      transition: box-shadow 0.16s ease-in-out;
    }

    .sub-menu-sparkline-container {
      width: 175px;
      margin-left: auto;
      margin-right: 30px;
      position: relative;
      top: 10px;
    }
  }

  #horizon-table {
    margin: 15px 30px;

    .ivu-table-body {
      border-bottom: 2px solid #dfdfdf;
    }

    .ivu-table-summary {
      border-top: unset !important;

      tr td {
        font-size: 13px;
        font-weight: 600;
        line-height: 18px;

        background: #ffffff;
        color: #5e5e5e;
      }
    }

    table {
      border-radius: 55px;
    }

    tr {
      th {
        height: 50px;

        color: #afafaf;

        font-size: 11px;
        font-weight: 600;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        background: #ffffff;
        border-bottom: 2px solid #dfdfdf;
      }

      td {
        height: 40px;

        color: #202020;

        font-size: 13px;
        font-weight: 400;
        line-height: 18px;

        a {
          color: #202020;
        }

        .commit-stats {
          display: flex;
          align-items: center;

          list-style-type: none;

          li {
            margin: 0 5px;

            font-family: "Noto Sans Mono", monospace;
          }

          .ivu-tooltip:not(:last-child) li {
            &:after {
              content: "";
              position: absolute;
              transform: translate(5px, 5px);

              width: 1px;
              height: 10px;

              background: #e8eaec;
            }
          }
        }
      }
    }
  }
}
