.ivu-btn:hover {
  border-color: unset!important;
}

.ivu-btn:focus {
  box-shadow: none !important;
}

.ivu-notice-desc {
  text-align: left !important;
}

.ivu-table {
  border-radius: 2.5px;
  box-shadow: 0 4px 12px rgb(0 0 0 / 7%);
}

.ivu-table-sort i.on {
  color: #606060;
}
