#labels {
  .sub-header {
    height: 45px;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin: 25px 30px;
    margin-top: 50px;

    h2 {
      font-size: 21px;
      font-weight: 400;
      line-height: 29px;
    }
  }
}
