@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&display=swap");

@import "iview.scss";
@import "header.scss";
@import "login.scss";
@import "requests.scss";
@import "horizon.scss";
@import "stream.scss";

body {
  font-family: "Noto Sans", sans-serif;

  background: #e5e5e5;
  color: #000000de;
}

.logo_dark path {
  fill: #464646;
}

.logo_light path {
  fill: #fefefe;
}

.logo {
  background: white;
  border-radius: 5px;

  img {
    border-radius: 5px;
  }
}

.error_container {
  position: absolute;
  top: 25px;
  left: calc(50% - 350px);

  z-index: 9999;

  width: 500px;

  margin: 0 100px;
}
