#requests {

  .sub-header {
    height: 45px;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin: 25px 30px;
    margin-top: 50px;

    h2 {
      font-size: 21px;
      line-height: 29px;
      font-weight: 400;
    }
  }

  #requests-table {
    margin: 30px 30px;

    table {
      border-radius: 55px;
    }

    tr {
      th {
        height: 50px;

        color: #AFAFAF;
        font-size: 11px;
        font-weight: 600;
        letter-spacing: .03em;
        text-transform: uppercase;

        background: #FFFFFF;
        border-bottom: 2px solid #DFDFDF;
      }

      td {
        color: #202020;
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;

        height: 50px;

        a {
          color: #202020;
        }

        .issue-icon {
          padding-right: 2px;
          color: #57606a;

          &.icon-violet {
            padding-left: 2px;
            color: #8250df;
          }
        }

        .commit-stats {
          list-style-type: none;
          display: flex;
          align-items: center;
          justify-content: center;

          li {
            margin: 0 5px;
            font-family: 'Noto Sans Mono', monospace;
          }

          .ivu-tooltip:not(:last-child) li{
            &:after {
              content: "";
              position: absolute;
              width: 1px;
              height: 10px;
              background: #e8eaec;

              transform: translate(5px, 5px);
            }
          }
        }

        &:nth-child(4) {
          font-family: 'Noto Sans Mono', monospace;
        }
      }
    }

    .engineers-container {
      margin: 5px 0;

      div {
        margin: 5px 0;

        .engineer-login {
          margin-left: 5px;
        }
      }
    }

    .labels-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      width: 100%;

      .label {
        margin: 5px 0;
        padding: 0 7px;

        border-width: 1px;
        border-style: solid;
        border-radius: 24px;

        font-size: 12px;
        font-weight: 600;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
        line-height: 18px;

        text-align: center;
      }
    }
  }

}
