#requests {
  .no-data {
    margin-left: 30px;
  }

  .sub-header {
    height: 45px;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    margin: 25px 30px;
    margin-top: 50px;

    h2 {
      font-size: 21px;
      font-weight: 400;
      line-height: 29px;
    }
  }

  #requests-table {
    margin: 30px;

    table {
      border-radius: 55px;
    }

    tr {
      th {
        height: 50px;

        color: #afafaf;

        font-size: 11px;
        font-weight: 600;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        background: #ffffff;
        border-bottom: 2px solid #dfdfdf;
      }

      td {
        height: 50px;

        color: #202020;

        font-size: 13px;
        font-weight: 400;
        line-height: 18px;

        a {
          color: #202020;

          &.commit-details-repository-name {
            position: absolute;
          }
        }

        .issue-icon {
          padding-right: 2px;
          color: #57606a;

          &.icon-violet {
            padding-left: 2px;
            color: #8250df;
          }
        }

        .commit-stats {
          display: flex;
          align-items: center;
          justify-content: center;

          list-style-type: none;

          li {
            font-family: "Noto Sans Mono", monospace;

            margin: 0 5px;
          }

          .ivu-tooltip:not(:last-child) li {
            &:after {
              content: "";
              position: absolute;
              width: 1px;
              height: 10px;

              background: #e8eaec;

              transform: translate(5px, 5px);
            }
          }
        }

        &:nth-child(4) {
          font-family: "Noto Sans Mono", monospace;
        }
      }
    }

    .engineers-container {
      &,
      div {
        margin: 5px 0;

        .engineer-login {
          margin-left: 5px;
        }
      }
    }

    .labels-container {
      margin: 2.5px 0;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      .label {
        margin: 2.5px 0;
        padding: 0 7px;

        border-width: 1px;
        border-style: solid;
        border-radius: 24px;

        font-size: 12px;
        font-weight: 600;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
          Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
        line-height: 22px;
        text-align: center;
      }
    }
  }
}
