#stream {
  .no-data {
    margin-left: 30px;
  }

  .sub-header {
    height: 45px;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin: 25px 30px;
    margin-top: 50px;

    h2 {
      font-size: 21px;
      font-weight: 400;
      line-height: 29px;
    }
  }

  #stream-table {
    margin: 30px;

    table {
      border-radius: 55px;
    }

    tr {
      th {
        height: 50px;

        color: #afafaf;

        font-size: 11px;
        font-weight: 600;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        background: #ffffff;
        border-bottom: 2px solid #dfdfdf;
      }

      td {
        height: 50px;

        color: #202020;

        font-size: 13px;
        font-weight: 400;
        line-height: 18px;

        a {
          color: #202020;
        }
      }
    }

    .author-container {
      margin: 5px 0;

      .author-login {
        margin-left: 5px;
      }
    }

    .assignees-container {
      margin: 5px 0;

      div {
        margin: 5px 0;

        .assignee-login {
          margin-left: 5px;
        }
      }
    }

    .labels-container {
      margin: 2.5px 0;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      .label {
        margin: 2.5px 0;
        padding: 0 7px;

        border-width: 1px;
        border-style: solid;
        border-radius: 24px;

        font-size: 12px;
        font-weight: 600;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
          Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
        line-height: 22px;
        text-align: center;
      }
    }
  }
}
